@-webkit-keyframes meetup {
  0%,
  100% {
    -webkit-transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
    transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
  }

  50% {
    -webkit-transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
    transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
  }
}

@keyframes meetup {
  0%,
  100% {
    -webkit-transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
    transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
  }

  50% {
    -webkit-transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
    transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
  }
}

.meetup {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  height: 15px;
  width: 15px;

  div {
    height: 100%;
    position: absolute;
    width: 100%;
    -webkit-animation: meetup 1.25s infinite ease;
    animation: meetup 1.25s infinite ease;
    background: #0284c7;
    border-radius: 100%;

    &:nth-child(1) {
      --rotation: 90;
    }
    
    &:nth-child(2) {
      --rotation: 180;
    }
    
    &:nth-child(3) {
      --rotation: 270;
    }
    
    &:nth-child(4) {
      --rotation: 360;
    }
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}